[submodule "snipmate.vim.git"]
	path = snipmate.vim.git
	url = git://github.com/esukram/snipmate.vim.git
[submodule "vim-perl.git"]
	path = vim-perl.git
	url = git://github.com/esukram/vim-perl.git
[submodule "taglist.vim.git"]
	path = taglist.vim.git
	url = git://github.com/esukram/taglist.vim.git
[submodule "autocomplpop.vim.git"]
	path = autocomplpop.vim.git
	url = git://github.com/esukram/autocomplpop.vim.git
[submodule "nerdtree.git"]
	path = nerdtree.git
	url = git://github.com/scrooloose/nerdtree.git
[submodule "syntastic.git"]
	path = syntastic.git
	url = git://github.com/scrooloose/syntastic.git
